body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff8e7;
}

header {
    background: #d47221;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background: #e67e22;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.card {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

footer {
    background: #d35400;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
